{% extends "base.html" %}
{% load static %}

{% block css_files %}
   <link rel="stylesheet" href="{% static "challenges/chalenge.css" %}">
   <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock %}


{% block page_title %}
    <h1>This {{ month_name | title }} challenge</h1>
{% endblock %}



{% block content %}
    {% include "./includes/header.html" %}



    {% if text is not None %}
    <h2>====>>>{{ text }}</h2>
    {% else %}
    <p> There is no challenge for this moth yet! </p>
    {% endif %}

{% endblock %}
   
