{% extends "base.html" %}
{% load static %}


{% block css_files %}
   <link rel="stylesheet" href="{% static "challenges/index.css" %}">
   <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock %}

{% comment %} we need to make sure Django can find this template {% endcomment %}
{% comment %} {% extends "../../../templates/base.html" %} {% endcomment %}

{% comment %} or we could go to setting.py in our project subfolder agian
and in Templates , Dir spesify it {% endcomment %}

{% block page_title %}
  All Challenges
{% endblock %}


{% block content %}
   {% include  "./includes/header.html" %}
    <ul>
        {% for month in months %}
            {% comment %} <li><a href="/challenges/{{ month }}">{{ month | title }}</a></li> {% endcomment %}
            <li><a href="{% url 'month-challenge' month %}">{{ month | title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
